<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-button color="primary" (click)="cancelarModal()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>Realizar búsqueda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-label> Distancia en metros: </ion-label>

  <ion-range min="0" max="1000" color="primary" pin="true" step="100" [(ngModel)]="distancia">
      <ion-label slot="start">{{ distancia }}</ion-label>
    </ion-range>

  <ion-list>
    <ion-radio-group>
      <ion-item *ngFor="let materia of materias">
        <ion-label> {{ materia.nombre }} </ion-label>
          <ion-radio slot="start" (ionSelect)=seleccionado(materia) [checked]="true"> </ion-radio>     
      </ion-item>      
    </ion-radio-group>
  </ion-list>

  <ion-button color="primary" expand="full" (click)=realizarBusqueda()> Buscar </ion-button>

</ion-content>