<ion-header>
  <ion-toolbar color="primary">
      <img src="assets\icon\logo.png" width="40px" style="display:inline-block" height="40px"/>

      <ion-title class="titleicon" style="display:inline-block" >Thuton</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <agm-map [latitude]="lat" [longitude]="lng" [zoomControl]="true" [minZoom]=12 [maxZoom]=20>
      
    <agm-marker-cluster imagePath="https://developer.google.com/maps/documentation/javascript/examples/markerclusterer/m">

    <agm-marker *ngFor="let tutor of tutores" [latitude]="tutor.latitud" 
      [longitude]="tutor.longitud">
    
      <agm-info-window>
        <strong>{{ tutor.nombre }}</strong>
        <p> <a href="{{'https://wa.me/'+ tutor.telefono }}"> {{ tutor.telefono }} </a></p>
        <p> <a href="{{'mailto:' + tutor.correo + '?Subject=Asesoria'}}"> {{ tutor.correo }} </a></p>
        <p> {{ tutor.direccion }} </p>
      </agm-info-window>

    </agm-marker>

  </agm-marker-cluster>
  </agm-map> 

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="secondary" (click)="abrirBusqueda()">
      <ion-icon name="search"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
