<ion-content>

  <agm-map [latitude]="lat" [longitude]="lng" [zoomControl]="false" [minZoom]=12 [maxZoom]=20>
      <agm-marker *ngFor="let tutor of tutores" [latitude]="tutor.latitud" 
      [longitude]="tutor.longitud">
    
      <agm-info-window>
        <strong>{{ tutor.nombre }}</strong>
      </agm-info-window>

    </agm-marker>
  </agm-map> 

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="abrirBusqueda()">
      <ion-icon name="search"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
